<style>
body {
    background-color: linen;
}

h1 {
    color: magenta;
    margin-left: 40px;
} 
h2{
	color: rgb(0,255,0);
}

marquee {
 height: 50px;	
 overflow: hidden;
 position: relative;
 background: yellow;
 color: orange;
 border: 1px solid orange;
font-color:rgb(255,0,255);
font-size:50px;
}
.iamhigh{
font-size:30px;
font-color:(255,255,0);
opacity:.4;
font-weight:bold;
font-style:italic;
	}
#flashpoint{
overflow:visible;
position:initial;
	border: 0.5px solid black;
	font-color:maroon;
	font-size:20px;
}
	footer{
	color:purple;
	}
</style>
